# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/

# Data & models
data/
*.pt
*.pth
*.zip
Datasets/MS-ASL/*.json

# WLASL-specific
Datasets/WLASL/start_kit/raw_videos/
Datasets/WLASL/wlasl/start_kit/*.log
Datasets/WLASL/wlasl/start_kit/log/
Datasets/WLASL/wlasl/start_kit/missing.txt
Datasets/WLASL/wlasl/start_kit/raw_videos/
Datasets/WLASL/wlasl/start_kit/raw_videos_mp4/
Datasets/WLASL/wlasl/start_kit/videos/
Datasets/WLASL/wlasl/start_kit/videos_kaggle/
Datasets/WLASL/wlasl/start_kit/videos_full/
Datasets/WLASL/wlasl/code/I3D/archived/
Datasets/WLASL/wlasl/code/TGCN/archived/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
